.ui-datepicker .ui-datepicker-next {
	background : url(/saemaul/manager/common/img/icon_calendar_next.png) no-repeat 0 2px / 44px 44px;
	height : 44px;
	width : 44px;
	margin-bottom : -4px;
	top : auto;
	bottom : 20px;
	transform : none;
}
.ui-datepicker .ui-datepicker-prev {
	background : url(/saemaul/manager/common/img/icon_calendar_prev.png) no-repeat 0 2px / 44px 44px;
	height : 44px;
	width : 44px;
	margin-bottom : -4px;
	top : auto;
	bottom : 20px;
	transform : none;
}
.ui-datepicker .ui-datepicker-prev:hover:before,
.ui-datepicker .ui-datepicker-next:hover:before {
	content : "";
	width : 100%;
	height : 100%;
	position : absolute;
	top : 0;
	left : 0;
	background-color : #353e4f;
	opacity : 0.2;
}
.ui-datepicker .ui-datepicker-header {
	height : 97px;
	background-color : #fff;
	border : none;
	padding : 0;
}
.ui-datepicker .ui-datepicker-header:before {
	content : "일자선택";
	position : absolute;
	top : 0;
	left : 20px;
	font-size : 18px;
}
.ui-datepicker {
	padding : 23px 20px 56px 20px;
	min-width : 330px;
	z-index : 150 !important;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
}
.ui-widget.ui-widget-content {
	border : none;
	
}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header {
	border: none;
}
.ui-datepicker .ui-datepicker-title {
	font-size : 15px;
	position : absolute;
	bottom : 18px;
	margin : 0 50px;
	width : calc(100% - 100px);
	line-height : 15px;
	color : #3b86ff;
}
.ui-datepicker th {
	background-color : #e9e9f0;
	color : #a3a6b4;
	font-size : 13px;
	padding : 17px 0;
	font-weight : 600;
	border : 1px solid #e9e9f0;
}
.ui-datepicker td a.ui-state-default {
	border : none;
	padding : 16.5px 0;
	font-size : 15px;
	color : #43425d;
	text-align : center;
	background-color : #fff;
}
.ui-datepicker td {
	padding : 0;
	border : 1px solid #e9e9f0;
}
.ui-datepicker td a.ui-state-default.ui-state-hover {
	background-color : #3b86ff;
	color : #fff;
}